<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>PetSocial</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css" integrity="sha384-Mmxa0mLqhmOeaE8vgOSbKacftZcsNYDjQzuCOm6D02luYSzBG8vpaOykv9lFQ51Y" crossorigin="anonymous">
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://bootswatch.com/4/solar/bootstrap.min.css">
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="/public/css/style.css">
  </head>
  <body>

      <nav class="navbar navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="/public/img/logotipo_petsocial.png" alt="petSocial">
        </a>
      </div>
    </nav>

   <div class="container p-4">
      <div class="row">
        <div class="col-md-8">
          {{{ body  }}} 
        </div>
        <div class="col-md-4">
          {{>stats this}}
          {{>popular this}}
          {{>comments this}}
        </div>
      </div>
    </div>

    <!-- FOOTER -->
    <footer class="bg-dark text-white">
      <div class="container p-2">
        <div class="row">
          <div class="mx-auto text-center">
            <p>PetSocial.net | &copy; Copyright 2019, All rights reserved</p>
            <p>
              <i class="fab fa-twitter-square fa-2x"></i>
              <i class="fab fa-facebook-square fa-2x"></i>
            </p>
          </div>
        </div>
      </div>
    </footer>
  <!-- SCRIPTS -->
    <script
  src="http://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  <script src="/public/js/scripts.js"></script>

  </body>
</html>